img {
    width: 100px;
    border-radius: 50px;
    border-color: black;
    float: left;
    margin-right: 20px;
}

html {
    background-color: beige;
}

body {
    margin: 0;
}

button {
    background-color: rgb(187, 194, 209);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-color: black;
    cursor: pointer;
    width: 35%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

button:hover {
    opacity: 70%;
}

.sample_lesson {
    /*button, not needed rn */
    padding: 14px 20px;
    margin: 8px 0;
    border-color: darkgray;
    border-top-width: 0;
    border-bottom-width: 0;
    cursor: pointer;
    width: 35%;
    border-radius: 0px;
    align-items: center;
    justify-content: center;
}