.welcome {
    margin-left: 50px;
    margin-top: 100px;
    font-size: 300%
}

.options {
    display: flex;
}

.lessons,
.gaming {
    margin-left: 100px;
    margin-top: 50px;
}

.lesson-header,
.gaming-header {
    color: black;
    text-decoration: none;
    font-size: 35px;
}

.lesson-header:hover,
.gaming-header:hover {
    font-weight: 1000;
    color: darkred;
}