img {
    width: 100px;
    border-radius: 50px;
    border-color: black;
    float: left;
    margin-right: 20px;
}

html {
    background-color: beige;
}

body {
    margin: 0;
}

button {
    background-color: rgb(187, 194, 209);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-color: black;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

button:hover {
    opacity: 70%;
}

textarea {
    background-color: beige;
    border: white;
    width: 1000px;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropdown:hover .dropbtn {
    background-color: red;
}

.navbar {
    width: 100%;
    background-color: lightgrey;
    justify-items: center;
    display: inline-block;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.programmar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    font-size: 30px;
    margin: 10px;
    border: black;
}