/*for the Google font */

@import "https://fonts.googleapis.com/css2?family=Montserrat&display=swap";
html {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

body {
    margin: 0;
}


/*
button {
    background-color: rgb(187, 194, 209);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border-color: black;
    cursor: pointer;
    width: 35%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

button:hover {
    opacity: 70%;
}*/