/* Eli Ouoba */

html {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: lemonchiffon;
}

body {
    margin: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

pre {
    tab-size: 4;
}

mark {
    background-color: lightcoral;
}

.keyboard {
    background-color: gainsboro;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    width: fit-content;
    border-radius: 7px;
    margin-bottom: 150px;
    margin-top: 50px;
}

.keys {
    display: block;
    padding: 3px;
    background-color: gainsboro;
    width:
}

.row {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.regular_keys {
    display: flex;
    background-color: white;
    color: black;
    width: 60px;
    height: 60px;
    font-size: medium;
    margin: 3px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.special_keys {
    font-size: small;
}

.space {
    width: 400px;
    margin-left: 25%;
}

.tab {
    width: 90px;
}

.shift_l {
    width: 140px
}

.shift_r {
    width: 185px;
}

.caps_lock {
    width: 105px
}

.enter {
    width: 155px;
}

.backspace {
    width: 135px;
}

.backslash {
    width: 105px;
}


/*delete this */

.type_text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.type_box {
    background-color: lightgray;
    margin-inline: 20%;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
}

#reset {
    margin-left: 20%;
    background-color: gray;
    width: 80px;
    height: 30px;
    border-color: transparent;
    border-radius: 7px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

#reset:hover {
    background-color: lightgrey;
}

.navbar {
    width: 100%;
    background-color: lightgrey;
    justify-items: center;
    display: inline-block;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav_menu {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.nav_menu:hover {
    color: white;
}

.programmar {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    font-size: 30px;
    margin: 10px;
    text-decoration: none;
    color: black;
}

#stats {
    float: right;
    margin-right: 20%;
}