    @import "page-style.css";
    input,
    #error_label,
    #auth_state_label,
    #si_with,
    #su_with,
    #separate,
    #login_button,
    #signup_button,
    #or {
        margin-bottom: 30px;
    }
    
    #error_label {
        color: red;
    }
    
    #container {
        position: absolute;
        top: 15%;
        left: 30%;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 1px 3px gray;
        width: 400px;
        text-align: center;
    }
    
    input,
    button {
        font-family: 'Montserrat', sans-serif;
    }
    
    input {
        height: 40px;
        width: 200px;
        border-radius: 3px;
        border-width: 1px;
        border-color: gray;
        border-style: solid;
        outline-width: 0px;
        padding-left: 20px;
    }
    
    input:focus {
        box-shadow: 0 0 5px darkcyan;
        border-color: darkcyan;
    }
    
    button {
        width: 200px;
        height: 40px;
        color: white;
        background-color: gray;
        border-width: 0px;
        border-radius: 20px;
    }
    
    button:hover {
        background-color: rgb(46, 46, 46);
    }
    
    #or {
        align-items: center;
        justify-content: center;
        display: flex;
        padding-inline: 15px;
    }
    
    #or:before,
    #or:after {
        background-color: darkgray;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    
    #or:before {
        right: 0.5em;
        margin-left: -50%;
    }
    
    #or:after {
        left: 0.5em;
        margin-right: -50%;
    }
    
    #error,
    #auth_state_label {
        color: rgb(38, 26, 172);
    }
    
    #logout_button {
        position: absolute;
        top: 100px;
        right: 50px;
    }
    
    #google_logo {
        width: 30px;
        margin-right: 7px;
    }
    
    #google_button {
        color: black;
        background-color: white;
        border-width: 2px;
        border-radius: 20px;
        border-color: gray;
        border-style: solid;
        align-items: center;
        justify-content: center;
        display: inline-flex;
    }
    
    #google_button:hover {
        background-color: gainsboro;
    }
