@import "page-style.css";

.options {
    display: flex;
}

#tug {
    margin-left: 100px;
    margin-top: 100px;
}


#race {
    margin-left: 100px;
    margin-top: 100px;
}

#tug-header,
#race-header {
    text-decoration: none;
    font-size: 35px;
}

#tug-header:hover,
#race-header:hover {
    font-weight: 1000;
    color: darkred;
}