.p{
    background-color: lightpink;
}

.r{
    background-color: palegoldenrod;
}

.m{
    background-color: palegreen;
}

.li{
    background-color: lightblue;
}

.ri{
    background-color: lightsteelblue;
}

.space{
    background-color: lightcyan;
}