@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
body {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color:black;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.lboard_section {
  width: 600px;
  height: 550px;
  margin: 100px auto 0;
  background: lightgray;
  padding: 25px 40px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 150px;
}

.lboard_section .lboard_tabs ul {
  display: flex;
  margin-right: 40px;
}

.lboard_section .lboard_tabs ul li {
  font-size: 18px;
  font-weight: 600;
  margin: auto;
  color: #3a3d51;
  list-style: none;
  cursor: pointer;
}

.lboard_section .lboard_tabs ul li:hover,
.lboard_section .lboard_tabs ul li.active {
  color: #fff;
}

.lboard_wrap {
  position: absolute;
  top: 90px;
  left: 40px;
  background: darkgray;
  width: 88%;
  height: 80%;
  border-radius: 5px;
}

.lboard_wrap .lboard_item {
  padding: 25px;
}

.lboard_wrap .lboard_mem {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

.lboard_wrap .lboard_mem:first-child {
  padding-top: 0;
}

.lboard_wrap .lboard_mem:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.lboard_wrap .lboard_mem .name_bar {
  margin: 0 20px;
  width: calc(100% - 150px);
}

.lboard_wrap .lboard_mem .name_bar p {
  color: #3a3d51;
}

.lboard_wrap .lboard_mem .name_bar p span {
  margin-right: 5px;
}

.lboard_wrap .lboard_mem .points {
  width: 100px;
  color: #3a3d51;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap {
  width: 100%;
  height: 5px;
  background: black;
  margin-top: 5px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.wpm_inner_bar,
.acc_inner_bar,
.won_inner_bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
