@import "page-style.css";
@import "typing-style.css";

.keyboard {
    background-color: gainsboro;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    width: fit-content;
    border-radius: 7px;
    margin-top: 1em;
}

.keys {
    display: block;
    padding: 3px;
    background-color: gainsboro;
}

.row {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.regular_keys {
    display: flex;
    background-color: white;
    color: black;
    width: 60px;
    height: 60px;
    font-size: medium;
    margin: 3px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.special_keys {
    font-size: small;
}

.tab {
    width: 90px;
}

.shift_l {
    width: 140px
}

.shift_r {
    width: 185px;
}

.caps_lock {
    width: 105px
}

.enter {
    width: 155px;
}

.backspace {
    width: 135px;
}

.backslash {
    width: 105px;
}

.space {
    width: 400px;
    margin-left: 25%;
}

#reset {
    width: 80px;
    height: 30px;
}

#stats {
    text-align: right;
    margin-top: auto;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 35px;
}

#next, #last {
    color:inherit;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    padding-top: 6px;
    cursor: pointer;
}
#next {
    float:right;
}
#last {
    float:left;
}

#footer a:hover {
   font-weight: bold;
   font-size: larger;
}