
@import "page-style.css";

input {
    height: 40px;
    width: 200px;
    border-radius: 3px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    outline-width: 0px;
    padding-left: 20px;
}

input:focus {
    box-shadow: 0 0 5px darkcyan;
    border-color: darkcyan;
}

button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: slategray;
    border-width: 0px;
    border-radius: 20px;
}

#container {
    position: relative;
    margin-top: 40px;
    left: 30%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px gray;
    width: 400px;
    text-align: center;
}