@import "page-style.css";

#info {
    margin: 10% 7% 7% 10%;
    width: 30%;
}

#info, #play {
    float:left;
}

#play {
    margin: 8% 6% 6% 6%;
    width: 30%;
    text-align: center;

}

input {
    height: 40px;
    width: 200px;
    border-radius: 3px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    outline-width: 0px;
    padding-left: 20px;
    margin-top: 7%;
}

input:focus {
    box-shadow: 0 0 5px darkcyan;
    border-color: darkcyan;
}

button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: slategray;
    border-width: 0px;
    border-radius: 20px;
    margin-top: 10%;
}

button:hover {
    background-color: rgb(46, 46, 46);
}

#join_header {
    margin-top: 10%;
}

#login {
    font-size: 30px;
    position: absolute;
    top:45%;
    left:50%;
    display: none;
}