@import "page-style.css";
.themes {
    margin-left: 150px;
}

.theme {
    margin-left: 50px;
    margin-top: 100px;
    
}

.choose {
    margin-left: 100px;
}

.themes:hover {
    font-weight: 1000;
    color: darkred;
}

.themes:active {
    color: white;
}

#darkmodeglow {
    display:flex;
}

