@import "page-style.css";
.themes {
    margin-left: 150px;
}

#t {
    margin-left: 30px;
}

.theme {
    margin-top: 100px;
    
}

.choose {
    margin-left: 50px;
    margin-right: 100px;
}

.themes:hover {
    font-weight: 1000;
    color: darkred;
}

.themes:active {
    color: white;
}

#darkmodeglow {
    display:flex;
}

#regular, #video, #keyboardTheme {
    float:left;
}

#video {
    margin-bottom: 200px;
}
