@import "page-style.css";
@import "typing-style.css";

input[type=range] {
    width: 100%;
}

#scorebar {
    margin-left: 15%;
    margin-right: 15%;
}

#botconfig {
    margin-left: 15%;
    margin-right: 15%;
    font-family: monospace;
}

#setwpm {
    width: 10%;
}

#setacc {
    width: 10%;
}

#reset {
    width: 80px;
    height: 30px;
}