html {
    font-size: 20px;
}

body {
    margin: 0;
}

h2 {
    font-size: 25px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

pre {
    tab-size: 4;
    color: black;
}

mark {
    background-color: lightcoral;
}

.type_text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.type_box {
    background-color: lightgray;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    /* scrollable box instead of page*/
    height: 8em;
    line-height: 24px;
    overflow: hidden;
}

#statBar {
    margin-left: 15%;
    margin-right: 15%;
    font-family: monospace;
}

.button {
    background-color: gray;
    border-color: transparent;
    border-radius: 7px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.button:hover {
    background-color: lightgrey;
}