/*Josiah Hsu*/
#typed p{
    background-color: white;
    color: red;
}

mark{
    background-color: lightcoral;
}

textarea{
    width: 100%;
}

body{
    background-color: beige;
    color: black;
    float: left;
}