/*Josiah Hsu*/
body{
    background-color: beige;
    color: black;
    float: left;
}

pre{
    tab-size: 4;
}

#typed pre{
    background-color: white;
}

mark{
    background-color: lightcoral;
}